/node_modules

/public/hot
/public/storage
/public/css/*
/public/js/*
/public/assets/*
/public/mix-manifest.json
/public/uploads/
/public/vendor


/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

/vendor

.env
.env.backup
.env.testing

.phpunit.result.cache

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea
/.vscode


/laradock*/
_ide_helper*.php
.phpstorm.meta.php
/.vagrant
html_coverage
Vagrantfile
after.sh
aliases
.php_cs.cache
.php-cs-fixer.cache
/psalm_cache/
/app/Containers/Vendor




